@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container1{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 5% ;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

.header{
    grid-area: header;
}

.main_index{
    border: 5px;
    background-size: cover;
    grid-area: main;
    text-align: center;
    padding: 5px;
}

.footer{
    background-color: blueviolet;
    grid-area: footer;
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-size: 15px;
}


.main2{
    max-width: 100%;
    padding: 5px;
    height: 100%;
    grid-area: main;
}

.galeria_item{
    width: 100%;
    height: 100%;
    position: relative;
}

.galeria_item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.galeria_item .image .a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.galeria_item:hover .image .a img{
    transform: scale(1.1);
}

.galeria_item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: aliceblue;
    font-size: 20px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
}

.galeria_item:hover .text{
    text-align: center;
    opacity: 2;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
    -webkit-backdrop-filter: blur(2px) saturate(0.8);
    backdrop-filter: blur(2px) saturate(0.8);
}

@keyframes move-down{
    0%{
        top: 10%;
    }
    50%{
        top: 35%;
    }
    100%{
        top: 50%;
    }
}
.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}

.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.h-3{
    grid-row: span 3;
}

.h-4{
    grid-row: span 4;
}

.h-5{
    grid-row: span 5;
}

.h-6{
    grid-row: span 6;
}

.main_5{
    border: 5px;
    background-size: cover;
    grid-area: main;
    text-align: center;
    padding: 5px;
}

.main5_nav{
    grid-area: nav2;
    padding: 5px;
    display: grid;
    grid-auto-rows: 100px;
    grid-gap:10px;
    grid-auto-flow: dense;
}



@media screen and (max-width: 500px){
    
}

.container2{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 130px auto 4% ;
    grid-template-areas: 
    'header'
    'nav2'
    'main'
    'footer';
}